body {
    font-size: 12px;
    color: #000;
    font-family: "Roboto", sans-serif;
    background-color: white;
    margin-top: 100px;
    text-align: center;
}

#Bjorn {
	font-family: "Roboto", sans-serif bold;
	text-align: center;
	font-size: 100px;
	font-style: italic;
	padding-top: 20px;
	color: inherit;
}

a, a:visited, a:hover, a:active {
	text-decoration: none;
	color: black;
}
